<nb-card>
    <!-- <nb-route-tabset [tabs]="tabs"></nb-route-tabset> -->
    <nb-tabset (changeTab)="selectTab1($event)">
        <nb-tab tabTitle="{{workspace.name}}" *ngFor="let workspace of workspaces; trackBy:trackByFn;"
            tabId="'res'+workspace.id" selectTab="selectTab(workspace.id)" [active]="workspace.active">
            <nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="workspace.id == 0">
                <nb-card-header>
                    <nb-card-body>
                        <nb-actions size="small" style="float: right;">
                            <nb-action style="cursor: pointer;" (click)="exportReport()"
                                file-name="'ReportMarketingSummary.xls'" file-download="myBlobObjectExcel">
                                <nb-icon class="action-icon" icon="file-text-outline"></nb-icon>
                                <span>Export Excel</span>
                            </nb-action>
                            <nb-action style="cursor: pointer;" (click)="refresh()">
                                <span>Refresh</span>
                            </nb-action>
                        </nb-actions>
                    </nb-card-body>
                </nb-card-header>
                <nb-card-body>
                    <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)">
                    </ng2-smart-table>                   
                </nb-card-body>
            </nb-card>
            <nb-card *ngIf="workspace.id != 0">
                <nb-action>
                    <nb-icon class="action-icon" icon="close-outline"  style="cursor: pointer;" (click)="removeTab(workspace.id, $event)"></nb-icon>
                </nb-action> 
                <nb-action  size="small" style="cursor: pointer;left: 90%;" (click)="newActivity()"
                    *ngIf="(isOpenRescueJobActivity == false && currentRescueJobOpen.jobStatus != null && currentRescueJobOpen.jobStatus != 7)
                || (isOpenRescueJobActivity == false && currentRescueJobOpen.jobStatus != null && currentRescueJobOpen.jobStatus == 7 && (currentUser.isRoleTeamLeader || currentUser.isRoleValidation || currentUser.isRoleManagement) && !currentUser.isRoleCsAgent)">
                    <nb-icon class="action-icon" icon="file-text-outline"></nb-icon>
                    <span>New Activity</span>
                </nb-action>
                <button style="width:8%; margin-left: 90%" nbButton outline status="primary" (click)="back()"
                    *ngIf="isOpenRescueJobActivity == true">Back</button>                
                <div *ngIf="isOpenRescueJobActivity != true">
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Job Information
                                </nb-card-header>
                                <nb-card-body>
                                    <form class="form-inline">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Rescue job ID </span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.id"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Priority <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.priority"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Client name</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.deliveryOrder?.customerName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Phone number</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.deliveryOrder?.customerPhone"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Address</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.deliveryOrder?.customerAddress"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">DO code</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.deliveryOrder?.doCode"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">CS status</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="allRcStatus[currentRescueJobOpen.jobStatus]"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Returned reason</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="allReasonStatus[currentRescueJobOpen.jobReason]"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Sub CS status</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="allRcSubStatus[currentRescueJobOpen.jobStatus+'_'+currentRescueJobOpen.jobSubStatus]"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Sub returned reason</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="allReasonSubStatus[currentRescueJobOpen.jobReason+'_'+currentRescueJobOpen.jobSubReason]"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">FFM Status</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.ffmReason"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Lastmile status <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <span
                                                        *ngIf="currentRescueJobOpen.isEditLastmileStatusAndLastmileSubStatus == false"
                                                        class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.lastmileReason"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">FFM sub Status</span>
                                                <div class="col-sm-9">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.ffmReasonDetail"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Lastmile substatus <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <span
                                                        *ngIf="currentRescueJobOpen.isEditLastmileStatusAndLastmileSubStatus == false"
                                                        class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.lastmileReasonDetail"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <span class="label col-sm-2 col-form-label">Sale note </span>
                                                <div class="col-sm-10">
                                                    <span class="bold" style="color:#d32f2f"
                                                        [textContent]="currentRescueJobOpen.odSaleOrder?.lead?.comment"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <span class="label col-sm-2 col-form-label">Comment</span>
                                                <div class="col-sm-8">
                                                    <textarea rows="4" fullWidth nbInput
                                                        [disabled]="currentRescueJobOpen.isEditComment == false"
                                                        [(ngModel)]="currentRescueJobOpen.jobComment"
                                                        name="jobComment"></textarea>
                                                </div>
                                                <div class="col-sm-2">
                                                    <nb-action style="cursor: pointer;" (click)="editComment()"
                                                        *ngIf="currentRescueJobOpen.isEditComment == false && currentRescueJobOpen.jobStatus != 7">
                                                        <nb-icon class="action-icon" icon="edit-outline"></nb-icon>
                                                    </nb-action>
                                                    <nb-action>
                                                        <nb-action style="cursor: pointer;" (click)="saveComment()"
                                                            *ngIf="currentRescueJobOpen.isEditComment == true">
                                                            <nb-icon class="action-icon" icon="clipboard-outline">
                                                            </nb-icon>
                                                        </nb-action>
                                                        <nb-action style="cursor: pointer;" (click)="closeComment()"
                                                            *ngIf="currentRescueJobOpen.isEditComment == true">
                                                            <nb-icon class="action-icon" icon="close-circle-outline">
                                                            </nb-icon>
                                                        </nb-action>
                                                    </nb-action>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Related DO</nb-card-header>
                                <nb-card-body>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Tracking code</th>
                                                <th scope="col">SO Id</th>
                                                <th scope="col">DO Id</th>
                                                <th scope="col">Customer name</th>
                                                <th scope="col">Phone number</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">So status</th>
                                                <th scope="col">Shipping status</th>
                                                <th scope="col">Carrier</th>
                                                <th scope="col">Warehouse</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="currentRescueJobOpen.listDeliveryOrder?.length == 0">
                                                <td style="text-align: center;" colspan="10">No Data</td>
                                            </tr>
                                            <tr *ngFor="let item of currentRescueJobOpen.listDeliveryOrder">
                                                <td class="text-right">
                                                    {{item.trackingCode}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.odSaleOrder.soId}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.doId}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.customerName}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.customerPhone}}
                                                </td>
                                                <td class="text-right">
                                                    <p title="{{item.customerAddress}}"
                                                        style="float: right; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 500px; margin: 0px 0px 0px 0px">
                                                        {{item.customerAddress}}
                                                    </p>
                                                </td>
                                                <td class="text-right">
                                                    {{item.odSaleOrder.status.name}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.status.name}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.lastmile.shortname}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.fulfilment.shortname}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Related SO</nb-card-header>
                                <nb-card-body>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Lead Id</th>
                                                <th scope="col">SO Id</th>
                                                <th scope="col">Lead name</th>
                                                <th scope="col">Phonenumber</th>
                                                <th scope="col">Product name</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Agency</th>
                                                <th scope="col">Create date</th>
                                                <th scope="col">Update date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="currentRescueJobOpen.listSaleOrder?.length == 0">
                                                <td style="text-align: center;" colspan="9">No Data</td>
                                            </tr>
                                            <tr *ngFor="let item of currentRescueJobOpen.listSaleOrder">
                                                <td class="text-right">
                                                    {{item.lead.id}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.soId}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.lead.name}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.lead.phone}}
                                                </td>
                                                <td class="text-right">
                                                    {{packageName}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.amount | number:0}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.partner}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.createDate | date:"dd/MM/yyyy HH:mm"}}
                                                </td>
                                                <td class="text-right">
                                                    {{item.modifyDate| date:"dd/MM/yyyy HH:mm"}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Activity History</nb-card-header>
                                <nb-card-body>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">Update by</th>
                                                <th scope="col">CS Status</th>
                                                <th scope="col">Sub CS status</th>
                                                <th scope="col">Owner</th>
                                                <th scope="col">Contact name</th>
                                                <th scope="col">Contact phone</th>
                                                <th scope="col">Note</th>
                                                <th scope="col">Reason</th>
                                                <th scope="col">Sub Reason</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="currentRescueJobOpen.listRescueHistory?.length == 0">
                                                <td style="text-align: center;" colspan="7">No Data</td>
                                            </tr>
                                            <tr *ngFor="let item of currentRescueJobOpen.listRescueHistory">
                                                <td class="text-center">
                                                    {{item.actTime | date :'dd/MM/yyyy HH:mm'}}
                                                </td>
                                                <td class="text-left">
                                                    {{item.updateBy.fullname}}
                                                </td>
                                                <td class="text-left">
                                                    {{allRcStatus[item.newStatus]}}
                                                </td>
                                                <td class="text-left">
                                                    {{allRcSubStatus[item.newStatus+'_'+item.newSubStatus]}}
                                                </td>
                                                <td class="text-left">
                                                    {{item.owner?.fullname}}
                                                </td>
                                                <td class="text-left">
                                                    {{item.contactName}}
                                                </td>
                                                <td class="text-left">
                                                    {{item.contactPhone}}
                                                </td>
                                                <td class="text-left">
                                                    {{item.comment}}
                                                </td>
                                                <td class="text-left">
                                                    {{allReasonStatus[item.newReason]}}
                                                </td>
                                                <td class="text-left">
                                                    {{allReasonSubStatus[item.newReason+'_'+item.newSubReason]}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                </div>
                <div *ngIf="isOpenRescueJobActivity">
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Contact Information</nb-card-header>
                                <nb-card-body>
                                    <form class="form-inline">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Client name</span>
                                                <div class="col-sm-9"
                                                    *ngIf="currentRescueJobOpen.curentActive?.isEditClientName != true">
                                                    <span class="bold"
                                                        [textContent]="currentRescueJobOpen.curentActive?.contactName"></span>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        (click)="editClientName()" class="action-icon"
                                                        icon="edit-outline"></nb-icon>

                                                </div>
                                                <div class="col-sm-7"
                                                    *ngIf="currentRescueJobOpen.curentActive?.isEditClientName == true">
                                                    <input nbinput fullWidth type="text"
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.contactName"
                                                        placeholder="Enter client Name" name="curentcontactName">
                                                </div>
                                                <div class="col-sm-2"
                                                    *ngIf="currentRescueJobOpen.curentActive?.isEditClientName == true">
                                                    <nb-action>
                                                        <nb-action style="cursor: pointer;" (click)="saveClientName()">
                                                            <nb-icon class="action-icon" icon="clipboard-outline">
                                                            </nb-icon>
                                                        </nb-action>
                                                        <nb-action style="cursor: pointer;" (click)="closeClientName()">
                                                            <nb-icon class="action-icon" icon="close-circle-outline">
                                                            </nb-icon>
                                                        </nb-action>
                                                    </nb-action>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Activity type <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <nb-select placeholder="Select activityType..."
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.activityType"
                                                        name="activityType">
                                                        <nb-option *ngFor="let currentData of activityTypes"
                                                            [value]="currentData.id">{{ currentData.name }}
                                                        </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Phone number</span>
                                                <div class="col-sm-9"
                                                    *ngIf="currentRescueJobOpen.curentActive?.isEditPhoneNumber == true">
                                                    <input nbinput type="text" id=""
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.contactPhone"
                                                        aria-describedby="" placeholder="Enter client Name"
                                                        name="currentcontactPhone">
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        (click)="savePhoneNumber()" class="action-icon"
                                                        icon="clipboard-outline"></nb-icon>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        (click)="closePhoneNumber()" class="action-icon"
                                                        icon="close-circle-outline"></nb-icon>
                                                </div>
                                                <div class="col-sm-9"
                                                    *ngIf="currentRescueJobOpen.curentActive?.isEditPhoneNumber != true">
                                                    <span class="bold"
                                                        [textContent]="currentRescueJobOpen.curentActive?.contactPhone"></span>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        (click)="editPhoneNumber()" class="action-icon"
                                                        icon="edit-outline"></nb-icon>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        onclick="copyToClipboard('#p1')" (click)="coppyPhone()"
                                                        class="action-icon" icon="printer-outline"></nb-icon>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;" (click)="call()"
                                                        *ngIf="isCalling != true" class="action-icon"
                                                        icon="phone-outline"></nb-icon>
                                                    <nb-icon style="cursor: pointer;margin-left: 5px;"
                                                        *ngIf="isCalling == true" (click)="endCall()"
                                                        class="action-icon" icon="phone-call-outline"></nb-icon>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Rescue Job Information</nb-card-header>
                                <nb-card-body>
                                    <form class="form-inline">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">CS status <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <nb-select placeholder="Select CS status..."
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.newStatus"
                                                        name="activityType" (ngModelChange)="changeCsStatusActivity()">
                                                        <nb-option *ngFor="let currentData of currentRescueJobOpen.csStatusActivity"
                                                            value="{{ currentData.id }}">{{ currentData.statusName }}
                                                        </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Returned Reason</span>
                                                <div class="col-sm-9">
                                                    <nb-select placeholder="Select Returned Reason..."
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.newReason"
                                                        name="activityType"
                                                        (ngModelChange)="changeReturnedReasonsActivity()">
                                                        <nb-option *ngFor="let currentData of returnedReasonsActivity"
                                                            value="{{ currentData.id }}">{{ currentData.statusName }}
                                                        </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Sub-CS status <span
                                                        style="color:red">(*)</span></span>
                                                <div class="col-sm-9">
                                                    <nb-select placeholder="Select Sub-CS status..."
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.newSubStatus"
                                                        name="activityType"
                                                        >
                                                        <nb-option *ngFor="let currentData of csSubStatusActivity"
                                                            value="{{ currentData.id }}">{{ currentData.subStatusName }}
                                                        </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <span class="label col-sm-3 col-form-label">Sub Returned Reason</span>
                                                <div class="col-sm-9">
                                                    <nb-select placeholder="Select Sub Returned Reason..."
                                                        [(ngModel)]="currentRescueJobOpen.curentActive.newSubReason"
                                                        name="activityType">
                                                        <nb-option *ngFor="let currentData of subReturnedReasonsActivity"
                                                            value="{{ currentData.id }}">{{ currentData.subStatusName }}
                                                        </nb-option>
                                                    </nb-select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>Activity Note</nb-card-header>
                                <nb-card-body>
                                    <form class="form-inline">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <textarea rows="5" fullWidth nbInput
                                                    [(ngModel)]="currentRescueJobOpen.curentActive.comment"
                                                    name="jobComment" placeholder="Comment"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </nb-card-body>
                            </nb-card>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <nb-card class="inline-form-card">
                                <nb-card-header>
                                    <button style="float: right;" (click)="saveCurentActivity(dialog)" type="submit" nbButton status="success">Save</button>
                                </nb-card-header>
                            </nb-card>
                        </div>
                    </div>
                    <ng-template #dialog>
                        <span>CS job is updated</span>
                        <button nbButton status="success" style="float: right;" (click)="OkSave()">
                            Ok
                        </button>
                    </ng-template>
                </div>
            </nb-card>
        </nb-tab>
    </nb-tabset>
</nb-card>