<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
    <nb-card-header>
      <nb-card-body>
        <nb-actions size="small" style="float: left;">
          <nb-action (click)="goEditRescue()" *ngIf="!( currentUser.isRoleValidation
                              || currentUser.isRoleAgent
                              || currentUser.isRoleLogistic)" style="cursor: pointer;">
              <nb-icon class="action-icon" icon="plus-circle-outline"></nb-icon>
              <span>New job</span>
          </nb-action>
          <nb-action (click)="openWindow(contentTemplate)" style="cursor: pointer;" 
                *ngIf="selectedRescue.length > 0 && (currentUser.isRoleTeamLeader 
                  || currentUser.isRoleValidation 
                  || currentUser.isRoleManagement ) 
                  && !currentUser.isRoleCsAgent">
              <span>Assign</span>
          </nb-action>
          <nb-action (click)="openWindowRelease(release)" style="cursor: pointer;" 
                *ngIf="selectedRescue.length > 0 && (currentUser.isRoleTeamLeader 
                  || currentUser.isRoleValidation
                  || currentUser.isRoleManagement) 
                  && !currentUser.isRoleCsAgent">
              <span>Release</span>
          </nb-action>
          <nb-action (click)="openWindowTake(take)" style="cursor: pointer;" 
              *ngIf="selectedRescue.length > 0 && (currentUser.isRoleTeamLeader 
                || currentUser.isRoleCsAgent)">
              <span>Take</span>
          </nb-action>
        </nb-actions>
        <nb-actions size="small" style="float: right;">
            <nb-action style="cursor: pointer;" (click)="exportReport()" file-name="'ReportMarketingSummary.xls'" file-download="myBlobObjectExcel">
                <nb-icon class="action-icon" icon="file-text-outline"></nb-icon>
                <span>Export Excel</span>
            </nb-action>
            <nb-action style="cursor: pointer;" (click)="refresh()">
              <span>Refresh</span>
          </nb-action>
        </nb-actions>
      </nb-card-body>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  <ng-template #contentTemplate>
    <nb-card-body>
      <ng2-smart-table [settings]="settingsUser" [source]="sourceUser" (userRowSelect)="onUserAssignSelect($event, assign)">
      </ng2-smart-table>
    </nb-card-body>
  </ng-template>
  <ng-template #assign>
       <span>Are you sure?</span>
        <button nbButton outline class="btn btn-primary" style="float: right;" (click)="Assigned()">
          Confirm
        </button>
  </ng-template>
  <ng-template #release>
    <span>Are you sure?</span>
     <button nbButton outline class="btn btn-primary" style="float: right;" (click)="Released()">
       Confirm
     </button>
  </ng-template>
  <ng-template #take>
    <span>Are you sure?</span>
     <button nbButton outline class="btn btn-primary" style="float: right;" (click)="Taked()">
       Confirm
     </button>
  </ng-template>